@{
    ViewBag.Title = "Creaate Employee";
}
<h2>Create Employee</h2>
<p>Employee ID: <input type="text" name="EmployeeID" id="EmployeeID" /></p>
<p>Employee Name: <input type="text" name="Name" id="Name" /></p>
<p>Salary: <input type="text" name="Salary" id="Salary" /></p>
<p>Department: <input type="text" name="DeptNo" id="DeptNo" /></p>
<p>Manager: <input type="text" name="MgrNo" id="MgrNo" /></p>
<p><input type="button" name="btnSave" value="Save Employee" id="btnSave" onclick="return SaveEmployee();" /></p>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/MyScripts/EmployeeScripts.js"></script>
